@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat';
    font-size: 12px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  ul {
    list-style: none;
  }

  .left,
  .right {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 0;
  }
  
  .left {
    background: #B3B4AF;
    left: 0%;
    width: 0%;
  }
  
  .right {
    background: #191921;
    right: 0%;
    width: 100%;
  }
  
  .nav ul {
    z-index:100 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    padding: 0 20px;
  }
  
  .nav ul li {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 8px;
    font-weight: 600;
    padding: 0 30px;
  }
  nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
  }
  .nav .logo {
    flex: 1;
    font-size: 18px;
    letter-spacing: 0;
  }
  
  .nav .menu {
    flex: 1;
    font-size: 18px;
  }
  
  .nav .collection {
    flex: 1;
  }
  
  .nav .explore {
    flex: 4;
  }
  
  .nav .search {
    flex: 3;
  }
  
  
  .img-wrapper {
    position: absolute;
    bottom: 0;
    left: 180px;
    
  }
  
  .img {
    background-size: cover;
    height: 550px;
    width: 0;
  }
  .img-responsive{
    width: 70vw;
    object-fit: cover;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
    z-index: 15;

}

  .info {
    position: absolute;
    bottom: 0;
    left: 180px;
    background: rgba(0, 0, 0, .8);
    padding: 0 10px;
  }
  
  .info ul li {
    display: inline-block;
    padding: 20px 25px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 8px;
    font-weight: 600;
  }
  
  .info i {
    font-size: 18px;
  }
  
  .text {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
  }
  
  .text h1 {
    font-size: 90px;
    color: #fff;
    font-family: 'Raiderfont';
    text-transform: uppercase;
  }
  
  .text p {
    font-size: 20px;
    color: #fff;
    font-family: monospace;
  }
  
  .name {
    position: absolute;
    top: 50%;
    left: -270px;
    transform: translateY(-50%);
    font-size: 90px;
    font-family: 'Raiderfont';
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }
  
  .bottomnav {
    position: absolute;
    bottom: 100px;
    right: 100px;
  }
  
  .bottomnav ul li {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-top: 20px;
  }
  
  .bottomnav ul li:nth-child(2) {
    font-weight: bolder;
  }
  
  .bottomnav ul li:nth-child(2)::before {
    content: "";
    display: inline-block;
    border: 1px solid #fff;
    width: 65px;
    margin: 0 10px 0 -78px;
    transform: translateY(-3px);
  }
  .search-form {
    margin-left: 1rem;
  }
  
  .search-form input {
    padding: 0.7rem;
    border-radius: 20px;
    border: none;
    background-color: #eee;
    width: 600px;
    font-size: 0.9rem;
    color: #333;
  }
  
  .search-form input:focus {
    background: #fff;
  }
  /* Category nav */
.category-nav {
  display: flex;
  padding-left: 0.6rem;
  overflow: hidden;
}

.category-nav .category {
  padding: 0.8rem;
}

.category a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
}